/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-image:url(https://images.template.net/103966/spongebob-sky-background-41t3r.jpg);
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #fff784;
    color: #ffffff;
    padding: 10px;
}

nav a {
    color: #2f3438;
    text-decoration: none;
    padding: 10px;
}

main {
    padding: 20px;
}

article {
    margin-bottom: 20px;
}

section {
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

section:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

img {
    margin-left: 20px;
}

.contenedor-imagenes {
    display:flex;
}

/* Estilos de texto */
h1, h2 {
    color: #403f34;
}

p {
    color: #2f3438;
    margin-left: 20px;
}

/* Estilos de pie de página */
footer {
    background-color: #fff784;
    padding: 10px;
    text-align: center;
}
